body {
  background-image: url("https://static1.squarespace.com/static/5796374ae4fcb5993a4b9f82/t/58cbc7ddb8a79b53354ac056/1489750008797/Taproom_Animation.gif?format=1500w");
  background-size: cover;
  text-align: left;
  

}
